<h1>Welcome</h1>
<p>Welcome to ProjectBook 0.0.5</p>
<p>Share your projects that you made and find other people to your team</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}